/*-------------------------------------
        5. favorites 
--------------------------------------*/
.favorites {padding:90px 0 0px;}
.favorites-content{margin-top: 75px;}

.single-favorite{margin-bottom: 50px;text-align: center;}
.single-favorite-bg {
    position: relative;
    min-height: 310px;
    background: #f8f9fc;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow:hidden;
}
.single-favorite-bg img{
    width:auto;
    height:auto;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-favorite-bg:hover  img{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}
.single-favorite-bg-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(106,119,129,.1);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-favorite-bg:hover .single-favorite-bg-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.sale {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.sale p{color: #fff;font-weight: 500;font-size:14px;line-height: 2.2;}

.sale.bg-1{background: #d8924c;}
.sale.bg-2{background: #47d93c;}

.favorite-cart {
    position: absolute;
    bottom: -14px;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #33383c;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    opacity:0;
    visibility:hidden;
}
.favorite-cart p {
    float: left;
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 3;
}
.favorite-cart p a{color: #fff;font-weight: 400;font-size: 12px;}
.favorite-cart p span.lnr.lnr-cart {margin-right: 10px;}
.favorite-cart p span{text-transform: lowercase;}
p.arrival-review span {margin-right: 15px;}
.single-favorite-bg:hover .favorite-cart {
    opacity:1;
    visibility:visible;
    bottom:0px;
}
.single-favorite  h4 a{
    color:#262e3c;
    font-size:16px;
    font-weight:500;
    margin:26px 0 12px;
}
.arrival-product-price{
    color:#262e3c;
    font-size: 16px;
    font-weight: 400;
}
.single-favorite:hover h4 a{color:#1CB5E0;}


/* add new */
/*.single-feature-txt */
/* .single-newarrival-txt,.single-blog-txt{margin-top: 25px;} */
.single-favorite-txt{
    margin-top: 10px;
}
.single-favorite-txt p i {
    color:  #efce4a;
    margin-left:  5px;
    line-height: 4.8;
}
span.spacial-favorite-icon i {color:  #a9a9a9;}
span.favorite-review {margin-left: 10px;}
.single-favorite-txt p {
    font-size: 14px;
    margin: -10px;
    /* line-height: 5.8; */
}
.single-favorite-txt h3 a ,.single-blog-txt h2 a{
    color: #5f5b57;
    margin: -1px 0px 15px;
}
.single-favorite-txt h5 {
    color:  #5f5b57;
    font-weight:  400;
    margin: -2px;

}

.section-header{
    margin-top: 67px;
}

.site-footer{
    margin-top: 186px;
}