/*-------------------------------------
        5. features 
--------------------------------------*/
.features {padding:90px 0 0px;}
.features-content{margin-top: 75px;}

.single-new-feature{margin-bottom: 50px;text-align: center;}
.single-new-feature-bg {
    position: relative;
    min-height: 310px;
    background: #f8f9fc;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow:hidden;
}
.single-new-feature-bg img{
    width:auto;
    height:auto;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-new-feature-bg:hover  img{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}
.single-new-feature-bg-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(106,119,129,.1);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.single-new-feature-bg:hover .single-new-feature-bg-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.sale {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.sale p{color: #fff;font-weight: 500;font-size:14px;line-height: 2.2;}

.sale.bg-1{background: #d8924c;}
.sale.bg-2{background: #47d93c;}

.feature-cart {
    position: absolute;
    bottom: -14px;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #33383c;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    opacity:0;
    visibility:hidden;
}
.feature-cart p {
    float: left;
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 3;
}
.feature-cart p a{color: #fff;font-weight: 400;font-size: 12px;}
.feature-cart p span.lnr.lnr-cart {margin-right: 10px;}
.feature-cart p span{text-transform: lowercase;}
p.arrival-review span {margin-right: 15px;}
.single-new-feature-bg:hover .feature-cart {
    opacity:1;
    visibility:visible;
    bottom:0px;
}
.single-new-feature  h4 a{
    color:#262e3c;
    font-size:16px;
    font-weight:500;
    margin:26px 0 12px;
}
.arrival-product-price{
    color:#262e3c;
    font-size: 16px;
    font-weight: 400;
}
.single-new-feature:hover h4 a{color:#1CB5E0;}


/* add new */
/*.single-feature-txt */
/* .single-newarrival-txt,.single-blog-txt{margin-top: 25px;} */
.single-new-feature-txt{
    margin-top: 10px;
}
.single-new-feature-txt p i {
    color:  #efce4a;
    margin-left:  5px;
    line-height: 4.8;
}
span.spacial-new-arrival-icon i {color:  #a9a9a9;}
span.new-arrival-review {margin-left: 10px;}
.single-new-feature-txt p {
    font-size: 14px;
    margin: -10px;
    /* line-height: 5.8; */
}
.single-new-feature-txt h3 a ,.single-blog-txt h2 a{
    color: #5f5b57;
    margin: -1px 0px 15px;
}
.single-new-feature-txt h5 {
    color:  #5f5b57;
    font-weight:  400;
    margin: -2px;

}

.section-header{
    margin-top: 61px;
}

#more{
    display: none;
}

.list-element {
    display: none;
}

#loadmore {
    margin: 50px auto 65px;
    display: table;
    border: none;
    padding: 4px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    background-color: #1CB5E0;
    margin-top: -50px;
}

.list .list-element:nth-child(1) {
    display: block;
}
.list .list-element:nth-child(2) {
    display: block;
}
.list .list-element:nth-child(3) {
    display: block;
}
.list .list-element:nth-child(4) {
    display: block;
}
.list .list-element:nth-child(5) {
    display: block;
}
.list .list-element:nth-child(6) {
    display: block;
}
.list .list-element:nth-child(7) {
    display: block;
}
.list .list-element:nth-child(8) {
    display: block;
}